* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blank-space {
  height: 60px;
  width: 100%;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 0 60px;
  width: 100%;
  height: 60px;
  background-color: #2d2d2d;
  -webkit-box-shadow: 1px 1px 4px gray;
          box-shadow: 1px 1px 4px gray;
}

nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

section.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.forms div.formularios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.forms form h1 {
  margin-bottom: 11px;
}

section.forms form input {
  border-radius: 5px;
  padding: 9px;
  outline: none;
  border: 1px solid gray;
  margin: 11px 0 11px 0;
}

section.forms form label {
  font-weight: 500;
  color: grey;
}

section.forms form button {
  width: 105px;
  height: 35px;
}

section.error-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.error-page h1 {
  font-size: 150px;
}

section.error-page p {
  font-size: 40px;
  color: gray;
}

div.error-messages {
  margin-bottom: 30px;
  width: 50%;
  padding: 10px;
  color: red;
  font-size: 11px;
  background-color: #ffe1e1;
  border: 1px solid red;
}

div.success-messages {
  margin-bottom: 30px;
  width: 50%;
  padding: 10px;
  color: green;
  font-size: 11px;
  background-color: #e1ffe5;
  border: 1px solid green;
}

section.logged {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.logged h1 {
  font-size: 50px;
}

section.notebook {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.notebook table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 70%;
  margin: 60px 0 0 0;
}

section.notebook table th {
  border: 1px solid gray;
  border-collapse: collapse;
  height: 30px;
  background-color: #cacaca;
}

section.notebook table td {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */