<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

    <section class="error-page">
        <h1>Erro</h1>
        <p>Por favor, volte e tente novamente</p>
    </section>
<%- include('../partials/footer') %>