<nav>
    <a href="/">Notebook</a>

    <% if(user) { %>
        <a href="/contato">Registrar contato</a>
         <% } %> 

    <% if(!user) { %>
        <a href="/login">Login</a>
         <% } else { %>
            <a href="/logout">Logout</a> 
            <% } %> 
</nav>